/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker/nginx/logs/access.log
/docker/nginx/logs/error.log
/docker/php-fpm/logs/php-errors.log
/docker/swagger/logs/access.log
/docker/swagger/logs/error.log
